{% extends 'base.html' %}
{% from '_macro.html' import render_fields %}
{% block title %}Dispositivo{% endblock %}
{% block header %}
<h2>Asignar Dispositivo</h2>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form method='POST'>
				{{ form.csrf_token }}
					<div class="form-group">
						{{ render_fields(form.user, class="form-control") }}
					</div>
					<div class="form-group">
						{{ render_fields(form.device,class="form-control") }}
					</div>
					<div class="form-group">
						{{ render_fields(form.notify) }}
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default form-control">Guardar</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-2"></div>        
    </div>
</div>

{% endblock %}