<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <title>{% block title %}Titulo{% endblock %}</title>
        <meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"
        {% block otrolink %}{% endblock %}
    </head>

    <body>
        <div class="container-fluid">
            <div class="row"><hr/></div>
            <div class="row">
				<div class="col-md-12">
					{% block header %}<h1 class="text-center">HEADER</h1>{% endblock %}
                                        {% with messages = get_flashed_messages() %}
                                            {% if messages %}
                                            <ul class=flashes>
                                            {% for message in messages %}
                                                <li>{{ message }}</li>
                                            {% endfor %}
                                            </ul>
                                            {% endif %}
                                        {% endwith %}
				</div>
            </div>
			<div class="row"><hr/></div>
			<div class="row">
				{% block content %}{% endblock %}
			</div>
			<div class="row"><hr/></div>
			<div class="row">
				<div class="col-md-12">
					{% block footer %}<h5 class="text-center">FOOTER</h5>{% endblock %}
				</div>  
			</div>
			<div class="row"><hr/></div>
        </div>
    {% block otroscript %}{% endblock %}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </body>
</html>