{% extends 'base.html' %}
{% from '_macro.html' import render_fields %}
{% block title %}Nuevo Usuario{% endblock %}
{% block header %}
<h2>Nuevo Usuario</h2>
{% endblock %}
{% block content %}
<div class="container">
	<form method='POST'>
	{{ form.csrf_token }}
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-6">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
				  <div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
					  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					  Requered Data
					  </a>
					</h4>
				  </div>
				  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<div class="form-group">
						{{ render_fields(form.username, class="form-control") }}
						</div>
						<div class="form-group">
						{{ render_fields(form.email,class="form-control") }}
						</div>
						<div class="form-group">
						{{ render_fields(form.location,class="form-control") }}
						</div>
						<div class="form-group">
							{{ render_fields(form.staff) }}
						</div>
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
					  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Optional Data
					  </a>
					</h4>
				  </div>
				  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
					<div class="form-group">
					{{ render_fields(form.first_name,class="form-control") }}
					</div>
					<div class="form-group">
					{{ render_fields(form.last_name,class="form-control") }}
					</div>
					<div class="form-group">
					{{ render_fields(form.phone,class="form-control") }}
					</div>
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
					  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Password
					  </a>
					</h4>
				  </div>
				  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
						<div class="form-group">
						{{ render_fields(form.password, class="form-control") }}
						</div>
						<div class="form-group">
						{{ render_fields(form.confirm, class="form-control") }}
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
	<div class="col-md-4"></div>
		<div class="col-md-6">
			<div class="form-group">
				<button type="submit" class="btn btn-default form-control">Submit</button>
			</div>
		</div>
	<div class="col-md-4"></div>
	</div>
	</form>
	<div class="row">
		<div class="col-md-12"><br/><br/></div>
	</div>
</div>
{% endblock %}
