{% extends 'base.html' %}
{% from '_macro.html' import render_pagination %}
{% block title %}Ver Comentarios{% endblock %}
{% block header %}
<h2>Comentarios</h2>
{% endblock %}
{% block content %}
<div class="col-md-3"></div>
<div class="col-md-6">
    {% if comments %}
        {% for comment in comments.items %}
        <h4>{{ comment.username }}</h4>
        <h5>{{ date_format(comment.create_date) }}</h5>
        <p>{{ comment.text }}</p>
        {% endfor %}
        {{ render_pagination('view_comments',4,activo) }}
    {% endif %}
</div>
<div class="col-md-3"></div>
{% endblock %}
