{% extends 'base.html' %}
{% from '_macro.html' import render_pagination %}
{% block title %}Ver Dispositivos{% endblock %}
{% block links %}
<link href="{{ url_for('static', filename='css/dataTables.jqueryui.min.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
<h2>Dispositivos</h2>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<label>Cantidad por pagina</label>
			<select id="cant">
				<option value="1" {% if per_page == 2 %}selected="selected"{% endif %}>2</option>
				<option value="2" {% if per_page == 10 %}selected="selected"{% endif %}>10</option>
				<option value="3" {% if per_page == 50 %}selected="selected"{% endif %}>50</option>
			</select>
		</div>
		<div class="col-md-10"></div>
	</div>
    <div class="row">
		<div class="col-md-12">
		<hr>
			{% if devs %}
				<table class="table table-hover" id="tableta">
					<thead>
						<th>Nombre</th>
						<th>Serial Number</th>
						<th>Location</th>
						<th>Assigned to</th>
						<th>Description</th>
						<th>Editar</th>
						<th>Borrar</th>
					</thead>
					<tbody>
						{% for dev in devs.items %}
							<tr>
								<td>{{ dev.Device.name }}</td>
								<td>{{ dev.Device.serial_number }}</td>
								<td>{{ dev.location_name}}</td>
								<td>{% if dev.Device.user %}
								<a href="{{ url_for("view_user") }}?uid={{dev.Device.user.id}}">
								{{ dev.Device.user.username }}</a>
								{% else %}Unassigned{% endif %}</td>
								<td>{{ dev.Device.description }}</td>
								<td>
								<a href="{{ url_for("new_device", id=dev.Device.id) }}">
										<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
									</a>
								</td>
								<td>
								<a href="{{ url_for("del_device", id=dev.Device.id) }}">
										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
	<div class="row" id="row_absolute">
		<div class="col-md-3"></div>
		<div class="col-md-6 text-center">
			
			{% if devs %}
				{{ render_pagination('view_devices_old',pages,activo,per_page) }}
			{% endif %}
			
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock %}
{% block script %}

{% endblock %}