{% extends 'base.html' %}
{% from '_macro.html' import render_pagination %}
{% block title %}Ver Dispositivos{% endblock %}
{% block header %}
<h2>Profile {{ user.username }}</h2>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h4>{{user.username}}</h4>
			<h4>{{user.email}}</h4>
		</div>
		<div class="col-md-6">
			{% if user.staff %}
				<h4>Is Staff</h4>
			{% else %}
				<h4>Normal User</h4>
			{% endif %}
		</div>
	</div>
    <div class="row">
		<div class="col-md-12">
		<hr>
		<h3>Dispositivos</h3>
			{% if user.device_assigned %}
				{% for dev in user.device_assigned %}
					<h4><a href="{{ url_for('view_devices')}}/?params1={{dev.id}}">{{ dev.name }}</a></h4>
				{% endfor %}
			{% else %}
				<h4>No hay dispositivos asignados.</h4>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
{% endblock %}